@import './components/button';
@import './components/modal';
@import './components/input';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

html {
    --primary-color: #4b4b4c;
    --secondary-color: #f5d200;
    --tertiary-color: red;
    --white-color: #FFFFFF;
    --bg-color: rgb(246, 247, 249);
    --green-color: #176638;
    --text-color: #494949;
}


body {
    padding: 0;
    margin: 0;
    background-color: var(--white-color);
    font-size: 16px !important;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h3,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}


.home-page {
    .form-wrapper {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;

        h1,
        h3 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        form {

            input,
            .ant-form-item-control-input {
                width: 100%;
                display: block;
                padding: .375rem .75rem;
                border-radius: .25rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            }
        }

        .ant-form-item-control-input {
            width: 100%;
            display: block;
            padding: .375rem .75rem;
            border-radius: .25rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        .repos {
            .repos-item {
                margin-bottom: 5px;
                border-bottom: 1px solid #0000000a;
                padding: 10px 0;
            }

            .repos-name {
                font-size: 18px;
            }

            .detail {
                display: flex;
            }

            .repos-link {
                a {
                    color: var(--primary-color);
                }
            }
        }
    }
}

.ant-btn-primary {
    border-radius: 10px;
    background: #176638 !important;
    border: none;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.ck-editor__editable {
    height: 300px;
}

.d-none {
    display: none;
}

.imageArticleContent {
    .ant-upload.ant-upload-select-picture-card {
        width: 100%;
        padding: 45% 0;
    }

    .ant-upload-list-picture-card-container {
        width: 100%;
        height: 100%;
    }

    .ant-upload-list-picture {
        .ant-upload-list-item-error {
            border-color: transparent;
        }

        .ant-upload-list-picture-card {
            .ant-upload-list-item-error {
                border-color: transparent;
            }
        }
    }

    img {
        width: 100%;
    }

    .addArticleImage {
        width: 90%;

        .image {
            width: 100%;
        }
    }
}

.ArticleList {
    .article {
        .ant-card-head-title {
            padding: 0;
        }

        .ant-card-head {
            min-height: 33px;
        }

        background-color: white;

        .image {
            height: 150px;
            overflow: hidden;

            .imgArticle {
                width: 100%;
            }
        }

        .ant-card-body {
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 14px;
            padding-bottom: 10px;

            .articleText {
                font-size: 13px;
                overflow: hidden;
            }

            .linkClass {
                font-size: 15px;
            }
        }

        .articleFooter {
            font-size: 15px;
            padding: 10px;
            height: 50px;
            background-color: #494949;
            color: #fff;
        }
    }

    .imgHeader {
        max-height: 450px;
    }

    .titleHeader {
        padding-top: 20px;
        padding-left: 1px;
        font-weight: 600;
        font-size: 3em;
    }
}

.ant-layout-header {
    display: none;
}

.text-align-center {
    text-align: center;
}

.ant-upload.ant-upload-select-picture-card {
    width: -webkit-fill-available;
}

.ant-upload-list-picture-card-container {
    width: -webkit-fill-available;
}